<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.un1.mapper.ArticleMapper">
<!--    用resultMap给SelectAllAll的值映射关系-->
<!--    切记切记column的名字不能重复,也就是sql查询表的col名不能重复,如果重复要取别名-->
<!--    即使map映射中的property名字与实体类名称一致也不能省略-->
    <resultMap id="ac" type="com.example.un1.pojo.Article" >
        <id property="id" column="id" />
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <collection property="commentList" ofType="com.example.un1.pojo.Comment">
            <id property="id" column="c_id" />
            <result property="content" column="c_content"/>
            <result property="author" column="c_author"/>
        </collection>
    </resultMap>
    <select id="selectAllAll" resultMap="ac">
        SELECT a.*,b.id c_id,b.content c_content,b.author c_author
        FROM t_article a,t_comment b
        WHERE a.id=b.a_id
    </select>
<!--    下面的方法可以被上面selectAllAll代替且selectAllAll可以直接返回到Comments的值-->
    <select id="selectAll" resultType="com.example.un1.pojo.Article">
        select *
        from t_article
    </select>
</mapper>
