<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/signin.css}">
</head>
<body class="text-center">
    <div>
<!--        <div th:text="#{article.content}">内容</div>-->
<!--        <div th:text="#{article.title}">标题</div>-->
        <form class="form-signin">
            <img th:src="@{img/114514.jpg}" class="mb-4" width="80" height="80"/>
            <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tips}"></h1>
            <input class="form-control" type="text" name="username" th:placeholder="#{login.username}">
            <input class="form-control" type="password" name="password" th:placeholder="#{login.password}">
            <input class="btn btn-lg btn-primary btn-block" type="submit" th:value="#{login.button}">
        </form>
        <a th:href="@{/login(l='zh_CN')}">Chinese</a>
        <a th:href="@{/login(l='en_US')}">英文</a>
        <p class="mt-5 mb-3" th:replace="~{footer::copy}">replace生成</p>
        <p class="mt-5 mb-3" th:include="~{footer::copy}">include生成</p>
        <p class="mt-5 mb-3" th:insert="~{footer::copy}">insert生成</p>
    </div>
</body>
<script>
    // <!--            <img id="imggg" th:src="@{img/aaaaa.jpg}" class="mb-4" width="300" height="300">-->
    //     <!--            <img id="imgg" th:src="@{img/abc.jpg}" class="mb-4" width="30" height="30" >-->
    var timer = null;//全局命名定时器的名字
    var img1,img2;//全局命名img
    var r = 0;//全局命名角度
    window.onload = function () {//页面一启动就加载

        img1 = document.getElementById('imggg');
        img2 = document.getElementById('imgg');
        img2.style.position="absolute"
        img2.style.left="950px"
        img2.style.top="350px"
        timer = setInterval(() => {
            img2.style.transform = 'rotate(' + (r += 50) + 'deg)';//用css的转换属性
            img2.style.transition = 'all 1s linear';
            img1.style.transform = 'rotate(' + (r += 30) + 'deg)';//用css的转换属性
            img1.style.transition = 'all 1s linear';//用css的过度属性，注意 时间需要和定时器启动的时间一致才能不卡帧,不要linear会一顿一顿的
            console.log('定时器启动');
        }, 100);
    };
    img1.onfocus = ()=>{

        timer=null
    }
</script>
</html>