<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/signin.css}">
</head>
<body class="text-center">
    <div>
<!--        <div th:text="#{article.content}">内容</div>-->
<!--        <div th:text="#{article.title}">标题</div>-->
        <form class="form-signin">
            <img th:src="#{img}" class="mb-4" width="80" height="80" id="imgg"/>
            <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tips}"></h1>
            <input class="form-control" type="text" name="username" th:placeholder="#{login.username}">
            <input class="form-control" type="password" name="password" th:placeholder="#{login.password}">
            <input class="btn btn-lg btn-primary btn-block" type="submit" th:value="#{login.button}">
        </form>
        <a th:href="@{/login(l='zh_CN')}">Chinese</a>
        <a th:href="@{/login(l='en_US')}">英文</a>
        <p class="mt-5 mb-3" th:replace="~{footer::copy}">replace生成</p>
        <p class="mt-5 mb-3" th:include="~{footer::copy}">include生成</p>
        <p class="mt-5 mb-3" th:insert="~{footer::copy}">insert生成</p>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script>
    $(function (){
        var timer = null;
        var img1,img2;
        var r = 0;
        window.onload = function () {
            img2 = document.getElementById('imgg');
            img2.style.position="relative"
            timer = setInterval(() => {
                if($("img").size<=100){
                    $("div").append($("#imgg").clone());
                }
                img2.style.width=(Math.random()*500)+'px'
                img2.style.height=(Math.random()*500)+'px'
                img2.style.left=(-500+Math.random()*1000)+'px'
                img2.style.top=(-500+Math.random()*1000)+'px'
                img2.style.transform = 'rotate(' + (r += 50) + 'deg)';//用css的转换属性
                img2.style.transition = 'all 1s linear';
                console.log('定时器启动');
            }, 1000);
        };
    })
</script>
</html>